# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
.venv/
env/

# Streamlit
.streamlit/secrets.toml

# Environment Variables
.env
.env.*

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Build files
build/
dist/
*.egg-info/

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Uploaded images / output
uploads/
output/
temp/